name: PR Checks

on: [pull_request]

jobs:
  build:
    name: Run checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@v1
      with:
        node-version: "10.x"
    - uses: actions/checkout@v1
    - name: Cache node modules
      uses: actions/cache@v1
      id: cache
      with:
        path: node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
    - name: NPM install
      run: npm i
    - name: Run Lint
      run: npm run lint
    - name: Generate Icon
      run: npm run generate-icons
    - name: Run Type checker
      run: npx tsc --noEmit
    - name: Run Unit Tests
      run: npm test
    - name: Build extension
      run: npm run ext:build:beta:chrome
    - name: Upload coverage to Codecov
      env: 
        CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
      run: |-
        curl -s https://codecov.io/bash | bash -s -- \
        -F "unittests" \
        -Z || echo 'Codecov upload failed'

    